.search {
  :where(.search-icon, span) {
    position: absolute;
    top: 50%;
    color: $primary-color;
    transform: translateY(-50%);
  }
  &-icon {
    left: 18px;
    pointer-events: none;
    font-size: 16px;
  }

  span {
    right: 15px;
    cursor: pointer;
    font-size: 18px;
    display: none;
  }
  input:valid ~ span {
    display: block;
  }
}

.wrapper {
  width: 100%;
  background: transparent;
  padding: 0px 28px 0px;
  align-items: center;
  justify-content: center;
}
.wrapper .search {
  position: relative;
  margin: 0px 0 18px;
  @media (min-width: 720px) {
    margin: 35px 0 18px;
  }
}

input {
  background-color: transparent;
  border: 1px solid $primary-color;
}
input:focus {
  border: 2.5px solid $primary-color;
}
input:-ms-input-placeholder {
  color: $primary-color;
}
input::placeholder {
  color: $primary-color;
}
